{% extends 'main.html.twig' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="css/homepage.css">
<div class="container w">
	<div class="row centered">
		<br> <br>
		<div class="col-lg-12">
			<i class="fa fa-clock-o"></i>
			<h4>NOUVEAUTES</h4>
		</div>
		<!-- col-lg-12 -->

		<div class="col-lg-12">
			<div class="responsive">
				<div class="img">
					<a target="_blank" href="http://localhost:8000/circuit/1"> <img
						src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Ftour-monde.fr%2Fwp-content%2Fuploads%2F2013%2F10%2FSeville.jpg&f=1"
						alt="Andalousie" width="300" height="200">
					</a>
					<div class="desc">Andalousie</div>
				</div>
			</div>

			<div class="responsive">
				<div class="img">
					<a target="_blank" href="http://localhost:8000/circuit/2"> <img
						src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.M5960d66250675f4f258716400e6ce64bH0%26pid%3D15.1&f=1"
						alt="Vietnam" width="300" height="200">
					</a>
					<div class="desc">Vietnam</div>
				</div>
			</div>

			<div class="responsive">
				<div class="img">
					<a target="_blank" href="http://localhost:8000/circuit/3"> <img
						src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2F4.bp.blogspot.com%2F_E9NLEQjgdvg%2FTTa2jozAX-I%2FAAAAAAAAABk%2FQ-xgGuBawLc%2Fs1600%2FPyramid%2Bat%2BLouvre%2BMuseum%25252C%2BParis%25252C%2BFrance_1600x1200.jpg&f=1"
						alt="Ile de France" width="300" height="200">
					</a>
					<div class="desc">Ile de France</div>
				</div>
			</div>


			<div class="responsive">
				<div class="img">
					<a target="_blank" href="http://localhost:8000/circuit/5"> <img
						src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fes.blog.hotelnights.com%2Fwp-content%2Fuploads%2F2013%2F12%2FVernazza-Cinque-Terre.jpg&f=1"
						alt="Italie" width="300" height="200">
					</a>
					<div class="desc">Italie</div>
				</div>
			</div>

			<div class="clearfix"></div>
		</div>
		<br>
		<div class="col-lg-12">
			<i class="fa fa-dollar"></i>
			<h4>PROMOTIONS</h4>
			<div class="responsive">
				<div class="img">
					<a target="_blank" href="http://localhost:8000/circuit/6"> <img
						src="http://www.partir-en-vacances.info/wp-content/uploads/2016/04/inde4.jpg"
						alt="Inde" width="300" height="200">
					</a>
					<div class="desc">Inde</div>
				</div>
			</div>

			<div class="responsive">
				<div class="img">
					<a target="_blank" href="http://localhost:8000/circuit/7"> <img
						src="http://www.hec.fr/var/corporate/storage/images/knowledge/environnement-des-entreprises/asie/pour-une-expatriation-reussie-au-japon/404788-1-fre-FR/Pour-une-expatriation-reussie-au-Japon_knowledge_standard.jpg"
						alt="Japon" width="300" height="200">
					</a>
					<div class="desc">Japon</div>
				</div>
			</div>

			<div class="responsive">
				<div class="img">
					<a target="_blank" href="http://localhost:8000/circuit/8"> <img
						src="https://visiter-barcelone.com/wp-content/uploads/2015/01/a21-1024x768.jpg"
						alt="Espagne" width="300" height="200">
					</a>
					<div class="desc">Espagne</div>
				</div>
			</div>


			<div class="responsive">
				<div class="img">
					<a target="_blank" href="http://localhost:8000/circuit/9"> <img
						src="http://www.meilleurs-masters.com/photo_ecole/telecomsudparis-1458734396.jpg"
						alt="Evry" width="300" height="200">
					</a>
					<div class="desc">Evry Ghetto</div>
				</div>
			</div>

			<div class="clearfix"></div>
		</div>
		<!-- col-lg-12 -->

	</div>
	<!-- row -->
	<br> <br>
</div>
<!-- container -->

{% endblock %}